extends ../layout

block content
  script(src='/javascripts/users/modify.js')
  div(class='row')
    div(class='col-lg-12')
      h2(class='title') Mofidicar usuario

  div#updateUser(class='row')
    div(class='col-lg-2 offset-lg-2')
    div(class='col-lg-3')
      input#inputID(type='hidden', value=user._id)
      br
      label Nombre de usuario:
      br
      input#inputUser(type='text', placeholder='Usuario', value=user.user)
      br
      label Contraseña:
      br
      input#inputPassword(type='password', placeholder='Contraseña' value=user.password)
    div(class='col-lg-3')
      label Rol:
      br
      select#inputRol
        option(value="") Seleccione un valor
        each rol in roles
          if user.rol._id = rol._id
            option(value=rol._id selected='selected') #{rol.name}
          else
            option(value=rol._id) #{rol.name}

    div(class='col-lg-4')
      button#btnUpdateUser Modificar usuario
